body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../poster.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  font-size: 50px;
}

.logButton {
  margin: 20px 20px 40px;
  font-size: 40px;
  background-color: grey;
}

.linkButton {
  text-decoration: none;
  color: white;
}
