html
    head
        title 25.6-template_PUG-buttons-back
        link(
            rel="stylesheet"
            href="buttons-back.css"
        )
    body
        .buttons-back
            a.btn-back.main-page(href="/") Come back to main page
            