html
    head
        title 25.7-template_PUG
        link(
            rel="stylesheet"
            href="index.css"
        )
    body
        h1.main-title To go to the login page, press the button "Login page"
        button.logButton
            a.linkButton(href='/auth/google') Login page
            