html
    head
        title 25.7-template_PUG-logged
        link(
            rel='stylesheet'
            href="logged.css"
        )
    body
        img(src="googleLogged.png", alt="logo")
        h1.info  You are logged already
        include ./buttons-back.pug